body {
    font-family: Sans-serif;
}
.navbar-header{
    margin-bottom: 40px;
}

.navbar-header img {
    margin-top: -3.5rem;
    width: 180px;
}

li {
    font-size: 30px;
    padding-left: 40px;
    font-weight: bold;
    margin-top: 20px;
}

li:hover {
    color: #7ec9fa;
    text-shadow: 0 0 15px #0197fc;
    margin-top: 16px;
}

.personal-file img{
    margin-left: 60px;
    margin-top:16px;
}