* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    outline: none;
    border: none;
    list-style: none;
    scroll-behavior: smooth;
    max-width: 100%;
}

:root {
    --primary: #0071bc;
    --warning: #ffc107;
    --danger: #dc3545;
    --success: #28a745;
    --main-color: #17a2b8;
    --light: #f8f9fa;
    --dark: #343a40;
    --gray: #6c757d;
    --first: #131086;
    --second: #b621f3;
    --third: #FFF7D9;
    --next: #FFCC98;
    --Then: #53CCEC;
    --Finaly: #FFE6B6;
}

header {
    background-color: var(--next);

}

.container-header {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 70px;
}

nav .menu {
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
    list-style: none;
}
nav .menu a {
    font-size: 1.4rem;
    color: var(--main-color);
    font-weight: bold;
}

nav a:hover {
    text-decoration: none;
    color: var(--danger);
}


.search-item input {
    padding: 8px;
    font-size: 1rem;
    border: 1px solid var(--gray);
    border-radius: 12px 0 0 12px;
    float: left;
    width: 82%;
    background: var(--light);
}

.search-item .search-item button {
    padding: 10px;
    font-size: 1.3rem;
    border: 1px solid var(--gray);
    border-radius: 0 12px 12px 0;
    width: 18%;
    color: var(--Finaly);
    background: var(--primary);
}

.tap-right .personal-profile {
    display: flex;
    margin-right: 20px;
    width: 100%;
    border: 3px solid var(--main-color);
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 40px;
    background-color: var(--dark);
}

.tap-right .personal-profile a {
    color: var(--light);
}

.tap-right .personal-profile a:hover {
    text-decoration: none;
}




/*slider start*/

/*/*.slider-container {
    display: grid;
    grid-template-columns: 50% 50%;
}
.slider-left {
    display: grid;
    grid-template-columns: 48% 48%; 
    grid-gap: 15px;
}


.item .item-left {
    float: left;
    width: 50%;
}*/
/*----------------------*/
/*.slider-container {
    margin-left: 40px;
}

.slider-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.slider-item-left img {
    border: solid;
    width: 150px;
    margin-right: 15px;
}

.slider-item-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.slider-item-right h3 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
}

.slider-item-right p {
    margin: 0;
    font-size: 18px;
}

.slider-item-right span {
    font-weight: bold;
}

button[type="submit"] {
    background-color: var(--success);
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    margin-top: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

button[type="submit"]:hover {
    background-color: var(--gray);
}

.slider-right {
    flex: 1;
    margin-left: 20px;
}

.slides li img {
    width: 100%;
}*/
*/





.flexslider {margin: 0; padding: 0;}
.flexslider .slides > li {display: none; transition: hidden;}
.flexslider .slides img {width: 100%; display: block;min-height:310px;}
.flex-pauseplay span {text-transform: capitalize;}

.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .slides {display: block;} 


.no-js .slides > li:first-child {display: block;}

.flexslider { background: rgb(148, 126, 126); position: relative; -webkit-border-radius: 4px; -moz-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; zoom: 1;}
.flex-viewport {max-height:1500px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease;}
.loading .flex-viewport {max-height: 300px;}
.flexslider .slides {zoom: 1;}
.carousel li {margin-right: 5px}

.flex-direction-nav a {width: 34px; height: 48px; margin: -20px 0 0; display: block; background: red; position: absolute; top:46%; cursor: pointer; text-indent: -9999px; opacity: 0; transition: all .3s ease;}
.flex-direction-nav .flex-next {background-position: 100% 0; right:0px; }
.flex-direction-nav .flex-prev {left: 0px;}
.flexslider:hover .flex-next {opacity: 0.8; right: 0px;}
.flexslider:hover .flex-prev {opacity: 0.8; left: 0px;}

.flex-control-nav { position: absolute; bottom:10px; text-align: center;right:0;}
.flex-control-nav li {display:inline-block; zoom: 1; *display: inline;padding:0.2em;}
.flex-control-paging li a {width: 8px; height: 8px; display:inline-block;  background:white; cursor: pointer; text-indent: 9999px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; box-shadow: inset 0 0 3px rgba(0,0,0,0.3); border:solid;}
.flex-control-paging li a:hover { background:wheat; }
.flex-control-paging li a.flex-active { background:red; cursor: default; }

.flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .active {opacity: 1; cursor: default;}

.flexslider1 ol.flex-control-nav{
	width: auto;
	position: absolute;
	bottom: -49px;
	text-align: center;
	left: 3em;
}
.flexslider1 .flex-control-paging li a{width: 12px; height: 12px;}
.flexslider1.flex-control-nav  li{margin: 0 1px;}

@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev {opacity: 1; left: 0;}
  .flex-direction-nav .flex-next {opacity: 1; right: 0;}
}
@media screen and (max-width: 1024px) {
	.flex-control-nav {left: 55em;}
	.flexslider1 ol.flex-control-nav {bottom: -28px;left: 1em;}

}

@media screen and (max-width: 768px) {
	.flex-control-nav {left: 23em;}
	.flexslider1 ol.flex-control-nav {bottom: -6px;left: 22em;}
	}
@media screen and (max-width: 640px) {
	.flex-control-nav {left: 18em;}
.flexslider1 ol.flex-control-nav {bottom: 2px;left: 18em;}
}
@media screen and (max-width: 480px) {
.flex-control-nav {left: 12em;}
.flexslider1 ol.flex-control-nav {bottom: 1px;left: 12em;}
}
@media screen and (max-width: 320px) {
.flex-control-nav {left: 5.5em;}
.flexslider1 ol.flex-control-nav {bottom: 1px;left: 6em;}


}


/*Start footer*/

.footer {
    background-color: var(--light);
}
.footer .content-footer{
    display: grid;
    grid-template-columns: 30% 70%;
}
.footer h3 {
    font-weight: 600;
    color: var(--dark);
}
.footer p:not(a) {
    font-size: 1.1rem;
    gap: 10px;
}
.footer p a{
    font-size: 1.3rem;
}
.footer a {
    font-size: 1.1rem;
    color: var(--main-color)
}

.footer p {
    color: var(--dark);
}

.contact-top{
    display: flex;
    flex-direction: row;
    margin-left: 90px;
    margin-top: -20px;
}

.contact-top a {
    margin-left: 30px;
}

.footer span {
    color: var(--first);
    font-weight: bold;
}

.footer-left{
    margin-left: 120px;
}

.footer-right {
    display: grid;
    grid-template-columns: 50% 40%;
}

.footer-right .right-content {
    justify-content: center;
    margin-left: 50px;
}

.footer-bottom {
    justify-content: center;
    text-align: center;
    margin-top: 2rem;
    font-size: 1.3em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.3em;     
}


/* Reponsive*/

@media only screen and (max-width: 768px) {
  }
@media only screen and (max-width:1350px) {
    
}