@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;600&display=swap");

:root {
    --primary-color: #131086;
    --secondary-color: #b621f3;
}

body {
    font-family: sans-serif;
    font-size: 23px;
    width: auto;
}

.container{
    background-color: rgb(51, 189, 143);
    width: 100%;
}
.footer .content-footer{
    display: grid;
    grid-template-columns: 50% 50%;
}

.contact-top{
    display: flex;
    flex-direction: row; /* Sắp xếp các item theo chiều ngang */
}
a {
    margin-left: 65px;
    text-decoration: none;
    color: aliceblue;
}

p {
    color: aliceblue;
    letter-spacing: 0.8px;
}
h3 {
    color: var(--primary-color);
}
span {
    color: var(--secondary-color);
}


.footer-left{
    margin-left: 50px;
}

.footer-right {
    display: grid;
    grid-template-columns: 70% 30%;
}

.footer-right .left-item {
    margin-top: 30px;
}
.footer-right .right-content {
    justify-content: center;
    color: white;
    margin-left: 50px;
}
