body {
    font-family: 'Times New Roman', Times, serif;
    
}
.navbar-default{
    background-color:#B6DDDA;
}
.navbar-header{
    margin-bottom: 40px; 
}

.navbar-header img {
    margin-top: -3.5rem;
    height: 119px;
    width: 250px;
    padding-left: 90px;
   
}

li {
    font-size: 25px;
    padding-left: 10px;
    font-weight: 700px;
    margin-top: 20px;
    color: black;
}

li:hover {
    color: #75c8ff; 
    text-shadow: 0 0 15px rgb(248, 248, 248);
    margin-top: 16px;
}

.personal-file img{
    margin-left: 60px;
    margin-top:16px;
}