* {
    font-family: Arial, Helvetica, sans-serif;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 200px);
    grid-gap: 100px;
    grid-row-gap: 30px;
}

.course {
    border-radius: 1.5rem;
    text-align: center;
    background-color: #B6DDDA;

}

.pshow {
    max-width: 100%;
}

.inputthem {
    width: 100%;
}
img{
    border-radius: 20px;
}
