.form-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 500px;
    max-width: 100%;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-label {
    display: block;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .form-input {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #f4f4f4;
    border-radius: 10px;
    font-size: 16px;
    color: #333;
  }
  
  .btn {
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  .btn-primary {
    background-color: #2962ff;
    border: none;
    color: #fff;
  }
  
  .btn-primary:hover {
    background-color: #0039cb;
  }
  
  .btn-secondary {
    background-color: #f44336;
    border: none;
    color: #fff;
  }
  
  .btn-secondary:hover {
    background-color: #c62828;
  }
  
  @media only screen and (max-width: 768px) {
    .form-container {
      padding: 20px;
    }
  }