<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../styles/home.css">
    <title>Home Pages Book Tutor</title>
</head>
<body>
    <div class="container">
        <div class="content1">
            <div class="content1-left">
                <h2>Find the ideal tutor with <br> <span>KingDom</span> </h2><br>
                <p>We'll match you with one of our fantastic tutors to <br> help unlock your child's full potential.</p>
                <button>BOOK A FREE TRIAL SESSTION</button>
            </div>
            <div class="content1-right">
                <img src="../../Asset/images/background-slide.jpg" alt="">
            </div><br>
        </div>
        <div class="content2">
            <h2>What makes  <span>KingDom</span>  <br>  so great?</h2><br><br>
        </div>
        <div class="content3">
            <div class="content3-left">
                <h2>Experts in their subject</h2>
                <p>Our tutors all go through a rigorous selection <br> 
                    process and only a comparatively small number <br> 
                    is selected. This ensures that they have excellent <br> 
                    subject knowledge and the right <br> 
                    skills to help their students fulfil their potential.
                </p>
            </div>
            <div class="content3-right">
                <img src="../../Asset/images/background-slide1.jpg" alt="" height="150" id="img1-content3">
                <img src="../../Asset/images/background-slide3.jpg" alt="" height="150" id="img2-content3">
            </div>
        </div>
    </div>
</body>
</html>