<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../styles/Log/regester_form.css">
  <title>Regester account</title>
</head>

<!--<?php
//include './Database/conn.php';
//if (isset($_POST["btn"])) {
//  $taikhoan = $_POST["tk"];
//  $matkhau = $_POST["mk"];
//  $ten = $_POST["name"];
//  $check_ma = "SELECT * FROM student where Email='$taikhoan'";
//  $ketqua = mysqli_query($ketnoi, $check_ma);
//  $dem = mysqli_num_rows($ketqua);
//  if ($dem > 0) {
//    echo "<script> alert('Tài khoản đã tôn tại') </script>";
//  } else {
//    $sql = "INSERT INTO student (Full_name, Email, Passwork) values ('$ten', '$taikhoan', '$matkhau')";
//    if (mysqli_query($ketnoi, $sql)) {
//      echo "Thêm dữ liệu thành công";
//      header("location: regester.php");
//    } else {
//      echo "Thêm dữ liệu thất bại";
//    }
//  }
//}
?>-->
  <body>
    <div class="container">
      <div class="regester-left">
        <img class="img-right" src="../../Asstet/images/regester.jpg" alt="">
      </div>
      <div class="regester-right">
        <h1>Regester</h1>
        <p>craeta your account</p>
        <div class="regester-form">
          <div class="form-left">
            <div class="form-item">
                <label for="name">Enter Full Name</label>
                <input type="text" name="name" id="name" >
            </div>
            <div class="form-item">
              <label for="email">Enter Email</label>
              <input type="text" name="email" id="email" >
            </div>
            <div class="form-item">
              <label for="password">Enter Password</label>
              <input type="password" name="password" id="password">
              <i class="toggle-password fas fa-eye"></i>
            </div>
          </div>
          <div class="form-right">
            <div class="form-item">
              <label for="user-name">Enter Username</label>
              <input type="text" name="username" id="username">
            </div>
            <div class="form-item">
              <label for="phone-number">Enter Phonenumber</label>
              <input type="text" name="phonenumber" id="phonenumber">
            </div>
            <div class="form-item">
              <label for="password">Confirm Password</label>
              <input type="password" name="" id="password">
              <i class="toggle-password fas fa-eye"></i>
            </div>
          </div>
        </div>
        <button type="submit">REGESTER</button>           
      </div>
    </div>
  </body>
</html>