body {
    background-image: linear-gradient(to bottom right, #FFCCCC, #66FFFF);
}
h2{
    color: #3399FF;
}
span{
    color: #9933CC;
}

/*.container{
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}*/
button{
    width: 220px;
    margin-top: 30px;
}

button:hover {
    color: #7ec9fa;
    box-shadow: 0 0 15px #0197fc;
    text-shadow: 0 0 15px #0197fc;
}